<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="https://uit-econ.github.io/">Hovedside bachelor</a>
  <a href="{{site.webadresse}}" target="blank">Hjem</a>
  <a href="forelesningsplan.html">Forelesningsplan</a>
  <a href="innleveringer.html">Innleveringer</a>
  <a href="innleveringsplan_Kull_2020.html">Innleveringer Kull 2020</a>
  <a href="seminarplan.html">Seminarer</a>
  <a href="lenker_til_case_og_R_kode.html">Cases:</a>
  <a href="case_1_bnp.html"> - Case 1</a>
  <a href="case_2_bnp_historisk.html"> - Case 2</a>
  <a href="case_3_bnp_co2_temp.html"> - Case 3</a>
  <a href="case_4_global_handel.html"> - Case 4</a>
  <a href="case_5_kpi.html"> - Case 5</a>
  <a href="#">Ressurser:</a>
  <a href="ressurser_F1.html"> - Forelesning 1</a>
</div>

<div class="dot"></div>
<div class="sidenav_button" onclick="openNav()">&#9776; </div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "20%";
  document.getElementById("mySidenav").style.minWidth = "200px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0%";
  document.getElementById("mySidenav").style.minWidth = "0";
}
document.getElementById("mySidenav").style.transition="0.5s";
</script>
